@use "variables";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: variables.$primary-color;
}
main {
    min-height: calc(100vh - 13rem);
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &forcus {
        text-decoration: none;
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
